.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
src/**
test/**
typings/**
node_modules/**
.github/**
**/*.map
**/*.ts
**/tsconfig*.json
**/eslint.config.mjs
**/esbuild.mjs
.gitignore
.eslintrc.js
.node-version
*.vsix
vsc-extension-quickstart.md
